name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches_ignore: []

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup black environment
        run: conda create --quiet --name black pyflakes
          
      - name: Check formatting with black
        run: |
          export PATH="/usr/share/miniconda/bin:$PATH"
          source activate black
          pip install black
          black --check urlchecker


  type_checking:
    needs: formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup mypy environment
        run: conda create --quiet --name type_checking mypy

      - name: Check types with mypy
        run: |
          export PATH="/usr/share/miniconda/bin:$PATH"
          source activate type_checking
          pip install mypy
          pip install no_implicit_optional
          pip install types-requests
          mypy urlchecker

  testing:
    needs: type_checking
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup testing environment
        run: conda create --quiet --name testing pytest

      - name: Download ChromeDriver
        run: |
            wget https://chromedriver.storage.googleapis.com/107.0.5304.18/chromedriver_linux64.zip
            unzip chromedriver_linux64.zip
            rm chromedriver_linux64.zip

      - name: Test
        run: |
          export PATH="/usr/share/miniconda/bin:$PATH"
          source activate testing
          pip install .[all]
          pip install -r tests/test-requirements.txt
          pytest -vs -x --cov=./urlchecker tests/test_*.py

      - name: Test Building container image
        run: |
          docker build -t quay.io/urlstechie/urlchecker .
          DOCKER_TAG=$(docker run quay.io/urlstechie/urlchecker --version)
          printf "Docker Tag is ${DOCKER_TAG}\n"
